<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Aziz Chaudhry</h1>
		<p>Welcome to my tiny corner of the web..</p>
		<p>I am an aspiring developer of many languages and technolgies and have been tinkering with computers in some way, shape, or form since Kindergarten.</p>
		<p>Currently I am working mainly in Ruby on Rails and Angular JS and try to place great emphasis on speed and stability due to my history as a QA engineer (and experiencing the silliest bugs since I was in elementary school.) Anyone remember the good o' days of "SET BLASTER=A220 I5 D1 P330 T3"?.</p>
	</div>
</div>